cfg/360controller.cfg
cfg/config_default.cfg
cfg/motd_default.txt
cfg/motd_text_default.txt
cfg/pure_server_minimal.txt
cfg/settings.scr
cfg/settings_default.txt
cfg/trusted_keys_base.txt
cfg/user_default.scr
cfg/valve.rc
cfg/sourcemod

addons/metamod/
addons/sourcemod/configs/
addons/sourcemod/data/
addons/sourcemod/extensions/
addons/sourcemod/gamedata/
addons/sourcemod/translations/
addons/sourcemod/GPLv2.txt
addons/sourcemod/GPLv3.txt
addons/sourcemod/LICENSE.txt
addons/metamod_x64.vdf
addons/metamod.vdf

log_parser/cover.out
log_parser/vendor/

logs/

bin/
custom/
detail.vbsp
detailsprites_campblood.vbsp
download/
downloadlists/
fgd/
gameinfo.txt
html/
lights.rad
maps/
media/
modelsounds.cache
nmrih.vpk.sound.cache
nmrih_000.vpk
nmrih_001.vpk
nmrih_002.vpk
nmrih_003.vpk
nmrih_004.vpk
nmrih_005.vpk
nmrih_006.vpk
nmrih_007.vpk
nmrih_008.vpk
nmrih_009.vpk
nmrih_010.vpk
nmrih_011.vpk
nmrih_012.vpk
nmrih_013.vpk
nmrih_014.vpk
nmrih_015.vpk
nmrih_016.vpk
nmrih_017.vpk
nmrih_018.vpk
nmrih_019.vpk
nmrih_020.vpk
nmrih_021.vpk
nmrih_022.vpk
nmrih_dir.vpk
resource/
rev.txt
rulesets/
scripts/
servers/
shaders/
steam.inf
util/
